# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env
*.egg-info/
dist/
build/

# Datos pesados (NO subir NetCDF ni procesados)
data_raw*
data_proc/*

!data_raw/.gitkeep          # Para mantener la carpeta vacía en git
!data_proc/.gitkeep


# Logs y temporales
logs/
*.log

# Editor
.vscode/
.idea/
